<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="Robots" content="index, follow">

  {%- seo -%}

  {% for css in site.css-baseurl %}
  <link rel="stylesheet" href="{{ css | append: site.github.build_revision | relative_url }}">
  {% endfor %}

  {% for js in site.js-baseurl %}
  <script type="text/javascript" src="{{ js }}"></script>
  {% endfor %}

</head>
