<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="Robots" content="index, follow">

  {%- seo -%}

  <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
  <!-- <link rel="icon" type="image/png" href="assets/icons/favicon.png"> -->
  <link rel="icon" type="image/png" sizes="192x192" href="assets/icons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="assets/icons/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
  <link rel="manifest" href="assets/icons/site.webmanifest">

  {% for css in site.data.libs.css-baseurl %}
  <link rel="stylesheet" href="{{ css  | absolute_url }}">
  {% endfor %}

  {% for js in site..data.libs.js-baseurl %}
  <script type="text/javascript" src="{{ js | absolute_url }}"></script>
  {% endfor %}

</head>
