<div id="container">
  <div id="map"></div>
</div>
<script>
  var OSM = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  });

  var coords = [0, 0]; // the geographic center of our map
  var zoomLevel = 2; // the map scale
  var map = L.map('map', {
    center: coords,
    zoom: zoomLevel,
    layers: OSM
  });

  var mydata= L.geoJson(null);

  $.getJSON("/assets/cities.geojson", function(data){mydata.addData(data);});

  // load basemap
  var baseMaps = {
    "OpenStreetMap": OSM,
  };

  // load overlay
  var overlay = {
    "Cities": mydata,
  };

L.control.layers(baseMaps, overlay, {collapsed: true}).addTo(map);

</script>
