<div id="map"></div>
<script>
  
  var coords = [0, 0]; // the geographic center of our map
  var zoomLevel = 3; // the map scale. See: http://wiki.openstreetmap.org/wiki/Zoom_levels
  var map = L.map('map').setView(coords, zoomLevel);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
    attribution: 'Website theme by <a href="https://lerryws.xyz/">wslerry</a> | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

</script>
