@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css";
@import "https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css";
@import "https://cdn.jsdelivr.net/gh/wslerry/BeautifyMarker/leaflet-beautify-marker-icon.css";

$background-color : #f8f9fa ;
// $assetPath : "images";

html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

#map {
  // padding-top: 80px;
  width: inherit;
  height: inherit;
}

h1, h2, h3, h4, h5 ,h6 {
  font-weight: bold;
}

p, ul, ol, pre, blockquote {
  margin-bottom: 1em;
}

// .navbar {
//   padding: inherit;
//   overflow: hidden;
// }

.navbar .navbar-light {
 max-height: 50px;
}

.navbar-light .navbar-toggler-icon{
  font-size: 15px !important;
}

.navbar-light .navbar-brand {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-light .bg-light {
  background-color: $background-color;
}

@media (max-width: 768px) {
  .navbar .navbar-brand{
    font-size: 0;
  }
}

.footer {
  background-color: $background-color;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer p {
  font-size: 11px;
}

// // Beautify Marker
// .beautify-marker {
//   text-align: center;
//   font-weight: 700;
//   font-family: monospace;
//   position: absolute;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   &.circle, &.circle-dot, &.doughnut {
//     border-radius: 100%;
//   }
//   &.marker {
//     border-top-left-radius: 50%;
//     border-top-right-radius: 50% 100%;
//     border-bottom-left-radius: 100% 50%;
//     border-bottom-right-radius: 0%;
//     /* rotating 45deg clockwise to get the corner bottom center */
//     transform: rotate(45deg);
//     > * {
//       /* rotating 45deg counterclock to adjust marker content back to normal */
//       transform: rotate(-45deg);
//     }
//   }
// }

// Leaflet

.leaflet-top .leaflet-control {
    margin-top: 24px;
}
